build
debug
release
build-*
*.log
*.data
*.user*
*.pdb
*.obj
*.manifest
*.res
*.autosave
*.Release
*.Debug
*~
cache
ui_*.h
Makefile*
*.exe
*.psd
*.so-deployment-settings.json
android-build/
app_process
libc.so
Thumbs.db
.DS_Store
*.kate-swp
*.doxytag
doc/html/
